@using Federation.ViewModels
@model PaginationVM

@{
    int count = (Model.CurrentPage - 1) * Model.PageSize;
}

<div class="container">
    <div class="logo">
        <img src="~/assets/images/fed-img1.jpg" alt="" />
    </div>

    <form asp-action="Create" method="post" class="navigation">
        <a asp-controller="Home" asp-action="index" id="mainPg"><span>Əsas səhifəyə geri qayıt</span></a>
        <a asp-controller="team" asp-action="Create" id="newPg" style="width:170px;"><span>Yeni Komanda Yarat</span></a>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Ad</th>
                <th scope="col">Email</th>
                <th scope="col">Klub</th>
                <th scope="col">Cinsi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.Teams)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@team.Name</td>
                    <td>@team.Email</td>
                    <td>@team.Club.ClubName</td>
                    <td>@team.Gender</td>
                    <td>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this club?');">
                            <a asp-controller="team" asp-action="Update" asp-route-id="@team.Id" style="margin-right:10px;" id="updateBtn">Update</a>
                            <input type="hidden" name="id" value="@team.Id" />
                            <button type="submit" id="deleteBtn">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("TeamPage", new { pageNumber = Model.CurrentPage - 1 })"><i class="fa-solid fa-angle-left"></i></a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("TeamPage", new { pageNumber = i })" class="@(Model.CurrentPage == i ? "active" : "")">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("TeamPage", new { pageNumber = Model.CurrentPage + 1 })"><i class="fa-solid fa-angle-right"></i></a>
        }
    </div>
</div>