@using Federation.ViewModels
@model PaginationVM

@{
    int count = (Model.CurrentPage - 1) * Model.PageSize;
}

<div class="container">
    <div class="logo">
        <img src="~/assets/images/fed-img1.jpg" alt="" />
    </div>

    <h2>Klub qeydiyyatı</h2>

    <form asp-action="Create" method="post" class="navigation">
        <a asp-controller="Home" asp-action="index" id="mainPg"><span>Əsas səhifəyə geri qayıt</span></a>
        <a asp-controller="club" asp-action="Create" id="newPg"><span>Yeni Klub Yarat</span></a>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Klub adı</th>
                <th scope="col">Direktor</th>
                <th scope="col">Cinsi</th>
                <th scope="col">Komanda kateqoriyası</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var club in Model.Clubs)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@club.ClubName</td>
                    <td>@club.Director</td>
                    <td>@club.Gender</td>
                    <td>@club.TeamCategory</td>
                    <td>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure you want to delete this club?');">
                            <a asp-controller="club" asp-action="Update" asp-route-id="@club.Id" style="margin-right:10px;" id="updateBtn">Update</a>
                            <input type="hidden" name="id" value="@club.Id" />
                            <button type="submit" id="deleteBtn">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("ClubPage", new { pageNumber = Model.CurrentPage - 1 })"><i class="fa-solid fa-angle-left"></i></a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a href="@Url.Action("ClubPage", new { pageNumber = i })" class="@(Model.CurrentPage == i ? "active" : "")">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="@Url.Action("ClubPage", new { pageNumber = Model.CurrentPage + 1 })"><i class="fa-solid fa-angle-right"></i></a>
        }
    </div>
</div>